node_modules
package-lock.json
config/config.json
.idea
config/bot.db
src/bot.db
config/ServerStats.json
discord-verify.txtsrc/.env
*.save
senode_modules
package-lock.json
config/config.json
.idea
config/bot.db
src/bot.db
config/ServerStats.json
discord-verify.txtsrc/.env
*.save
session.session
